body {
        background: rgb(109,131,194);
        background: linear-gradient(270deg, rgba(109,131,194,1) 30%, rgba(58,55,173,1) 100%);
        color: white;
        margin: 20px;
        padding: 20px;
}
h1 {
        background: rgb(30,31,45);
        background: linear-gradient(270deg, rgba(30,31,45,0.74) 0%, rgba(30,35,46,0.61) 0%);
        border: 1px;
        border-radius: 10px;
        padding: 30px;
        margin: 20px 0;
        text-align: center;
    }
p {
        background: rgb(0,0,0);
        background: rgba(92, 92, 109, 1) 100%;
        width: 15%;
        height: 50px
    }
.button {
        position: relative;
        background: rgb(0,34,249);
        background: linear-gradient(270deg, rgba(0,34,249,1) 0%, rgba(36,42,56,0.4598214285714286) 0%);
        border: 3px solid #acacac;
        font-size: 28px;
        color: #FFFFFF;
        padding: 20px;
        width: 400px;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
}

.button:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
}
.footer {
        position: absolute;
        bottom: 50px;
        right: 5px;
        text-align: center;
        width: 300px;
}
.github {
        width:80px;
        height:80px;
        transition-duration: 0.4s;
        cursor: pointer;
        background-image: url("https://cdn-icons-png.flaticon.com/512/25/25231.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        top: 50%;
        right: 0%;
}
    .back {
        position: absolute;
        background: rgb(0,34,249);
        background: linear-gradient(270deg, rgba(0,34,249,1) 0%, rgba(36,42,56,0.4598214285714286) 0%);
        border: 3px solid #acacac;
        font-size: 20px;
        color: #FFFFFF;
        text-align: center;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        text-decoration: none;
        overflow: hidden;
        cursor: pointer;
        bottom: 20px;
        left: 5px;
}

.back:active:after {
        padding: 0;
        margin: 0;
        opacity: 1;
        transition: 0s;
}

caption {
        background: rgb(0,34,249);
        background: linear-gradient(270deg, rgba(0,34,249,1) 0%, rgba(36,42,56,0.4598214285714286) 0%);
        border: 3px solid #acacac;
        border-radius: 10px;
        padding: 10px;
        margin: 2px 0;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
  }
table {
        background: rgb(109,131,194);
        background: rgba(58,55,173,1);
        font-family: sans-serif;
        font-size: 14px;
        border: 3px solid #acacac;
        border-radius: 10px;
        padding: 5px;
        border-spacing: 0 1px;
        text-align: left;
  }
tr:nth-child(odd) td {
        background: rgb(0,34,249);
        background: linear-gradient(270deg, rgba(0,34,249,1) 0%, rgba(75,75,75,0.4598214285714286) 0%);
  }
tr:nth-child(even) td {
        background: rgb(0,34,249);
        background: linear-gradient(270deg, rgba(0,34,249,1) 0%, rgba(175,175,175,0.5) 0%);
  }
th {
        background: rgb(0,34,249);
        background: linear-gradient(270deg, rgba(0,34,249,1) 0%, rgba(62,62,62,0.5) 0%);
        border-radius: 5px;
        padding: 5px;
  }
td {
        padding: 5px;
  }

td:nth-child(5) {
        text-align: center;
        }
h4 {
        background: rgb(0,34,249);
        background: linear-gradient(270deg, rgba(0,34,249,1) 0%, rgba(36,42,56,0.4598214285714286) 0%);
        border: 1px solid #acacac;
        border-radius: 10px;
        padding: 10px;
        margin: 2px 0;
        text-align: center;
        display: flex;
        width: auto;
        font-size: 16px;
        font-weight: bold;
  }
.deliveryadd {
        background: rgb(0,34,249);
        background: linear-gradient(270deg, rgba(0,34,249,1) 0%, rgba(36,42,56,0.4598214285714286) 0%);
        border: 3px solid #acacac;
        border-radius: 10px;
        padding: 10px;
        margin: 2px 0;
        text-align: center;

  }
.container {
        display: flex;
        align-items: flex-start;
        flex-wrap: nowrap

}