<!DOCTYPE html>
<html lang="pl">
<link rel="stylesheet" href="/static/style.css">
<head>
    <meta charset="UTF-8">
    <title>Przebudowa</title>
</head>
<body>

<div>
    <h1>Strona w budowie</h1>

    <div>
    <a href="{{ url_for('index') }}"><button class="back">Powrót</button></a>
    </div>
       <div class="footer">
    <h5>Jeżeli chcesz zobaczyć kod tej strony - zapraszam na GitHub:</h5>
    <a href="https://github.com/Przemek2940/Project-ERPart"><button class="github"></button></a>
        </div>
</div>

  </body>
</html>
